@font-face {
    font-family: 'Outfit';
    src: local("Outfit-Bold"), url("../../../public/font/Outfit-Bold.ttf") format("opentype");
}

@font-face {
    font-family: 'OutfitReg';
    src: local("Outfit-Regular"), url("../../../public/font/Outfit-Regular.ttf") format("opentype");
}

.clockFont {
    font-family: 'Outfit', serif;
    font-size: 100px;
}

.clockDateFont {
    font-family: 'OutfitReg', serif;
    font-size: x-large;
}